
.gradle
.idea
build
*.iml


.project
.settings/
j2d-cli/.classpath
j2d-cli/.gitignore
j2d-cli/.project
j2d-cli/.settings/
javadoc2dash-api/.classpath
javadoc2dash-api/.gitignore
javadoc2dash-api/.project
javadoc2dash-api/.settings/

